#main-container {
    display: flex;
    flex-direction: row;
}

#search-history {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#previous-search-container {
    display: flex;
    flex-direction: column;
}

#previous-search-container button {
    margin: 5px;
}

#results-container {
    width: 75%;
}



.card-container {
    display: flex;
}

.forecast-card {
    margin: 10px;
}

.lowUv {
	background-color: green;
	color: white;
}

.moderateUv {
	background-color: yellow;
	
}

.highUv {
	background-color: red;
	color: white;
}

.extremeUv {
	background-color: purple;
	color: white;
}

.uv-display {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

@media screen and (max-width: 1200px) {

    #search-history {
        width: 15%;
    }

    #results-container {
        width: 85%;
    }

}

@media screen and (max-width: 1000px) {

    #main-container {
        flex-direction: column;
    }

    #search-history {
        width: 100%;
    }

    #results-container {
        width: 100%;
    }

    #previous-search-container {
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
}

@media screen and (max-width: 690px) {
    
    .card-container {
        flex-direction: column;
        align-content: center !important;
        justify-content: center !important;
    }

    #previous-search-container {
        flex-direction: column;
    }

}